In [1]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("mlg-ulb/creditcardfraud")

print("Path to dataset files:", path)

dowloaded_path="C:\\Users\\Rishad R\\.cache\\kagglehub\\datasets\\mlg-ulb\\creditcardfraud\\versions\\3"

csv_filename="creditcard.csv"

csv_path=os.path.join(dowloaded_path,csv_filename)

e:\machine learning\project\creditcard-fraud-detection\venv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\Rishad R\.cache\kagglehub\datasets\mlg-ulb\creditcardfraud\versions\3

In [2]:
import pandas as pd

try:
    df=pd.read_csv(csv_path)
    os.makedirs("../data")
    df.to_csv("../data/raw.csv")
except Exception as e:
    print(e)

In [5]:
import pandas as pd
 
train_df = pd.read_csv("../artifacts/08_31_2025_12_35_02/data_ingestion/ingested/train.csv")
train_df.head()

test_df = pd.read_csv("../artifacts/08_31_2025_12_35_02/data_ingestion/ingested/test.csv")
test_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,137357.0,1.715873,-1.363686,-1.453402,-1.964044,-0.751824,-0.933461,-0.129487,-0.149088,2.250904,...,0.196251,0.411417,-0.093504,-0.383897,0.029261,-0.849511,0.016169,-0.028636,188.12,0
1,38573.0,1.033106,-1.128746,-0.235239,-0.483255,-0.934757,-0.510761,-0.139216,-0.136076,-0.948455,...,-0.316869,-0.788229,-0.210168,0.039843,0.355740,1.077944,-0.112080,0.014622,189.06,0
2,34535.0,1.178608,0.151260,0.226658,1.159200,-0.433144,-0.987935,0.162881,-0.157946,0.202382,...,0.030590,-0.012767,-0.111508,0.353734,0.626009,-0.326741,-0.002265,0.023003,38.00,0
3,123183.0,1.791976,-1.713797,-0.827619,-1.279204,0.638454,4.717695,-2.164369,1.387360,2.914112,...,0.106916,0.660913,0.148047,0.819160,-0.365758,0.806857,0.047534,-0.035229,73.00,0
4,159136.0,1.880194,-0.550276,-0.346117,0.312024,-0.860775,-0.551669,-0.630595,0.079365,1.282577,...,0.291982,0.876037,0.107107,0.050152,-0.156679,-0.587042,0.042024,-0.038349,38.80,0

In [8]:
print(train_df.shape)
print(test_df.shape)

(227845, 31)
(56962, 31)

In [9]:
train_df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')